@font-face {
    font-family: font;
    src: url(s);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html {
  
    font-family: "Montserrat";
    scroll-behavior: smooth;
  }
  section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  

section p{
  justify-content: center;
  color: white;
}
  section p{
    font-weight: bolder;
    font-family: 'font';
    font-size:80px;
    z-index: 99%;
    position: absolute;
    top: 130px;
  }

  section h2{
    color: rgb(255, 255, 255);
    z-index: 99;
  }
  
  section h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:90px;
    position: absolute;
    top: 200px;
  }

  section h3{
    color: rgb(255, 255, 255);
    z-index: 99;
  }
  
  section h3{
    font-family: 'Times New Roman', Times, serif;
    font-size:50px;
    position: absolute;
    top: 280px;
  }
 
  #sec-1 {
    font-family:fantasy;
    font-size: 30px;
    background-image: linear-gradient(rgb(74,138,175,255),white);
  }

  #sec-2 {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(74,138,175,255));
  }

  #sec-3{
    background-image: linear-gradient(rgb(74,138,175,255),rgb(255, 255, 255));
  }

  
  #sec-5{
    background-image: linear-gradient(rgb(74,138,175,255),rgb(255, 255, 255));
  }
  .down1 img {
    position: absolute;
    left:15%;
    top: 530px;
    z-index: 99;
  }
.down1 img{
    width: 40px;
    height:40px;
}


#sec-100{
position: absolute;
right: 40px;
top: 240px;
color: white;

}




.judul  li a{
    
    font-family:serif;
    font-size:25px;
    background-color:rgb(132,176,203,255);
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

 .judul  li {
    position: absolute;
    top: 300px;
    left: 20%;
    list-style: none;
    
 }

.judul :hover{
    color: rgb(74,138,175,255);
}



 .judul1  li a{
    
    font-family:serif;
    font-size:25px;
    background-color: rgba(132,176,203,255);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    
}

 .judul1  li {
    position: absolute;
    top: 300px;
    left: 35%;

    list-style: none;
 }

 .judul1 :hover{
    color: rgb(74,138,175,255);
}

 .judul2  li a{
    
    font-family:serif;
    font-size:25px;
    background-color: rgba(132,176,203,255);
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

 .judul2  li {
    position: absolute;
    top: 300px;
    left: 60%;
    
    list-style: none;
 }
 .judul2 :hover{
    color: rgb(74,138,175,255);
}
 .judul3  li a{
    
    font-family:serif;
    font-size:25px;
    background-color: rgba(132,176,203,255);
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

 .judul3  li {
    position: absolute;
    top: 300px;
    left: 80%;
    
    list-style: none;
 }
 .judul3 :hover{
    color: rgb(74,138,175,255);
}
.up a img{
  position:fixed;
  right: 20px;
  top: 550px;
  rotate: 180deg;
 cursor: pointer;
 
}
.up a img{
   height: 40px;
  width: 40px;
  background-color: #5d88ff;
  border-radius: 50%;
  scroll-behavior: smooth;
  z-index: 99999;
}

.mobile a{
  opacity: 0%;
}

@media(max-width:450px){
 .up img,#sec-1,#sec-100,#sec-2,#sec-3,#sec-4,#sec-5{
    display: none;
 }
  }
  .mobile a{
    opacity: 100%;
    font-size: 30px;
    justify-content: center;
    position: absolute ;
    top: 370px;
    left: 150px;
  }
  

