
.walas p{
    position: absolute;
    top: 750px;
    left: 517px;
    color: rgb(255, 255, 255);
   
}
.walas p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: #607EAA;
    border-radius: 6px;
    padding: 2px;
    box-shadow: 0 0 20px black;
}

.walas p1{
    position: absolute;
    top: 795px;
    left: 470px;
    background-color: #607EAA;
    border-radius: 6px;
    padding: 2px;
    box-shadow: 0 0 20px black;
}
.walas p1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.container img{
    width: 80%;
    position: relative;
    left: 120px;
    top: 120px;
}

.container2 h4{
    color: white;
    box-shadow:  5px 5px 10px rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    position: absolute;
    left: 100px;
    top:890px;
    background-color: #5F6F94;
    padding: 10px;
    border-radius: 6px;
}
.container2 h5{
    color: white;
    box-shadow:  5px 5px 10px rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    position: absolute;
    right: 100px;
    top:890px;
    background-color: #5F6F94;
    padding: 10px;
    border-radius: 6px;
    
}

