
.container img{
    width: 80%;
    position: relative;
    left: 130px;
    top:10px;
}

.container3 h1{
    color: white;
    position: relative;
    top: -220px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.container3 h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
    left: -2px;
    top: -150px;
}