
.container3 h1{
    color: white;
    position: relative;
    top: -250px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.container3 h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    position: relative;
    left: -2px;
    top: -150px;
}

.fotoorga a img{
    justify-content: space-between;
    position: absolute;
    left: 470px;
    top: 1500px;
    width: 140px;
    border-radius: 10px;
    
}
.fotoorga h1{
    color: black;
    position: absolute;
    left: 480px;
    top: 1640px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    
}
.fotoorga h2{
    color: black;
    position: absolute;
    left: 490px;
    top: 1658px;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}



.fotoorga2 a img{
    justify-content: space-between;
    position: absolute;
    left: 730px;
    top: 1500px;
    width: 140px;
    border-radius: 10px;
}
.fotoorga2 h1{
    color: black;
    position: absolute;
    left: 740px;
    top: 1640px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    
}
.fotoorga2 h2{
    color: black;
    position: absolute;
    left: 752px;
    top: 1658px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}
.fotoorga3 a img{
    justify-content: space-between;
    position: absolute;
    left: 200px;
    top: 1730px;
    width: 130px;
    border-radius: 10px;

}
.fotoorga3 h1{
    color: black;
    position: absolute;
    left:225px;
    top: 1860px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    
}
.fotoorga3 h2{
    color: black;
    position: absolute;
    left:220px;
    top: 1877px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.fotoorga4 a img{
    justify-content: space-between;
    position: absolute;
    left:350px;
    top: 1730px;
    width: 130px;
    border-radius: 10px;
}
.fotoorga4 h1{
    color: black;
    position: absolute;
    left:370px;
    top: 1860px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    
}
.fotoorga4 h2{
    color: black;
    position: absolute;
    left:370px;
    top: 1877px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.fotoorga5 a img{
    justify-content: space-between;
    position: absolute;
    left:540px;
    top: 1730px;
    width: 130px;
    border-radius: 10px;
}
.fotoorga5 h1{
    color: black;
    position: absolute;
    left:562px;
    top: 1860px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    
}
.fotoorga5 h2{
    color: black;
    position: absolute;
    left:555px;
    top: 1877px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.fotoorga6 a img{
    justify-content: space-between;
    position: absolute;
    left:690px;
    top: 1730px;
    width: 130px;
    border-radius: 10px;
}
.fotoorga6 h1{
    color: black;
    position: absolute;
    left:700px;
    top: 1860px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    
}
.fotoorga6 h2{
    color: black;
    position: absolute;
    left:708px;
    top: 1877px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.fotoorga7 a img{
    justify-content: space-between;
    position: absolute;
    left:870px;
    top: 1730px;
    width: 130px;
    border-radius: 10px;
}
.fotoorga7 h1{
    color: black;
    position: absolute;
    left:885px;
    top: 1860px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
 }
.fotoorga7 h2{
    color: black;
    position: absolute;
    left:868px;
    top: 1877px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.fotoorga8 a img{
    z-index: 9;
    justify-content: space-between;
    position: absolute;
    left:1025px;
    top: 1730px;
    width: 130px;
    border-radius: 10px;
}
.fotoorga8 h1{
    color: black;
    position: absolute;
    left:1050px;
    top: 1860px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
 }
.fotoorga8 h2{
    color: black;
    position: absolute;
    left:1020px;
    top: 1877px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
