

.container3 h1{
    color: white;
    position: relative;
    left: 1px;
    bottom: 340px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.container3 h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
    left: -2px;
    top:-277px;
}

.fotoorga a img{
    justify-content: space-between;
    position: absolute;
    left: 100px;
    top: 1860px;
    width: 80px;
    border-radius: 10px;
    
}
.fotoorga h1{
    color: black;
    position: absolute;
    left: 98px;
    top: 1940px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    
}
.fotoorga h2{
    color: black;
    position: absolute;
    left: 110px;
    top: 1955px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    
}



.fotoorga2 a img{
    justify-content: space-between;
    position: absolute;
    right: 100px;
    top: 1860px;
    width: 80px;
    border-radius: 10px;
}
.fotoorga2 h1{
    color: black;
    position: absolute;
    left:230px;
    top: 1940px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    
}
.fotoorga2 h2{
    color: black;
    position: absolute;
    left: 240px;
    top: 1955px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}
.fotoorga3 a img{
    justify-content: space-between;
    position: absolute;
    left: 20px;
    top: 1990px;
    width: 75px;
    border-radius: 10px;
}
.fotoorga3 h1{
    color: black;
    position: absolute;
    left:28px;
    top: 2065px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    
}
.fotoorga3 h2{
    color: black;
    position: absolute;
    left:30px;
    top: 2080px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}
.fotoorga4 a img{
    justify-content: space-between;
    position: absolute;
    left:110px;
    top: 1990px;
    width: 75px;
    border-radius: 10px;
}
.fotoorga4 h1{
    color: black;
    position: absolute;
    left:116px;
    top:2065px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    
}
.fotoorga4 h2{
    color: black;
    position: absolute;
    left:119px;
    top: 2080px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}
.fotoorga5 a img{
    justify-content: space-between;
    position: absolute;
    left:225px;
    top: 1990px;
    width: 75px;
    border-radius: 10px;
}
.fotoorga5 h1{
    color: black;
    position: absolute;
    left:230px;
    top:2065px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    
}
.fotoorga5 h2{
    color: black;
    position: absolute;
    left:229px;
    top: 2080px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}
.fotoorga6 a img{
    justify-content: space-between;
    position: absolute;
    left:315px;
    top: 1990px;
    width: 75px;
    border-radius: 10px;
}
.fotoorga6 h1{
    color: black;
    position: absolute;
    left:310px;
    top:2065px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    
}
.fotoorga6 h2{
    color: black;
    position: absolute;
    left:320px;
    top: 2080px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}
.fotoorga7 a img{
    justify-content: space-between;
    position: absolute;
    left:110px;
    top: 2120px;
    width: 75px;
    border-radius: 10px;
}
.fotoorga7 h1{
    color: black;
    position: absolute;
    left:109px;
    top:2195px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
 }
.fotoorga7 h2{
    color: black;
    position: absolute;
    left:97px;
    top: 2212px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}
.fotoorga8 a img{
    z-index: 9;
    justify-content: space-between;
    position: absolute;
    left:225px;
    top: 2120px;
    width: 75px;
    border-radius: 10px;
}
.fotoorga8 h1{
    color: black;
    position: absolute;
    left:232px;
    top:2195px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
 }
.fotoorga8 h2{
    color: black;
    position: absolute;
    left:212px;
    top: 2212px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}

.upbutton1 img{
    width: 200px;
    position: absolute;
    top: 1630px;
    left: 105px;
}