
#sec-4{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(74,138,175,255));
  }


 .teksig span{
    position: relative;
    left: -140px;
    top:-220px ;
    font-size: 30px;
    color: white;
    
    background-color: black;
    border-radius: 15%;
}
.teksig a{
    color: white;
    position: relative;
    top: -210px;
    left: 170px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100px;
    font-size: 30px;
    text-decoration: none;
    background-color: black;
    border-radius: 5%;
    }

.container .ig{
    margin: 0 20px;
}
.container .ig span{
    height: 60px;
    width: 60px;
    display: block;
    background:#fff ;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgb(0, 0, 0,0,1);
}

.ssig img{
    position: relative;
    left: 80px;
    width:400px;
    
}

@media(min-width:360px){
    .teksig a{
        font-size: 25px;
        position: relative;
        left: 0px;
        top: 0px;
    }

    .ssig img{
        position: absolute;
        left:60px;
        top: 2990px;
        width: 300px;
    }
    .container .ig span{
        position: relative;
        top:29px ;
        
    }

}