
.box img{
    width: 450px;
    margin: 0 10px;
    border-radius: 10px;
    
}
.box{
   transition: 0.5s;
}
.box:hover{
    transform: scale(1.3);
    
}

.box1 img{
    width: 300px;
    position: relative;
    left: 80px;
    border-radius: 10px;
    
    
}
.box1{
    transition: 0.5s;
}
.box1:hover{
    transform: scale(1.3);
    
}

.fess img{
    width: 500px;
}
.fess{
    transition: 1s;
}
.fess:hover{
    transform: scale(2);
}
