
.box img{
    width: 300px;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    left: -1px;
    
}
.box{
   transition: 0.5s;
}
.box:hover{
    transform: scale(1.2);
    
}

.box1 img{
    width: 200px;
    position: relative;
    left:60px;
    border-radius: 10px;
    
    
}
.box1{
    transition: 0.5s;
}
.box1:hover{
    transform: scale(1.3);
    
}

.fess img{
    width: 300px;
}
.fess{
    transition: 1s;
}


