
.box img{
    width: 450px;
    margin: 0 10px;
    border-radius: 10px;
    
}
.box{
   transition: 0.5s;
}
.box:hover{
    transform: scale(1.3);
    
}

.box1 img{
    width: 300px;
    position: relative;
    left: 80px;
    border-radius: 10px;
    
    
}
.box1{
    transition: 0.5s;
}
.box1:hover{
    transform: scale(1.3);
    
}

.fess img{
    width: 500px;
}
.fess{
    transition: 1s;
}
.fess:hover{
    transform: scale(2);
}

@media(max-width:500px){
    .box img{
        width: 400px;
        position: relative;
        left:15px
    }
    .box1 img{
        width: 250px;
        position: relative;
        left: 120px;
    }
    .fess img{
        width: 450px;
    }
}
@media(max-width:360px){
    .box img{
        width: 350px;
        position: relative;
        left:0px;
    }
    .box1 img{
        width: 200px;
        position: relative;
        left: 100px;
    }
    .fess img{
        width: 300px;
        position: relative;
        left:40px
    }
}